.Navigation {
    background-color: darkolivegreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.Content {
    margin-top: 72px;
}